.list {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  height: 50px;
  width: 700px;
  border: 1px solid blue;
  margin: auto;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 20px;
}

.list > div {
  width: 110px;
  margin-left: 14px;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 270px;
  margin: auto;
  margin-bottom: 30px;
}

.page {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.preview {
  display: flex;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
  justify-content: start;
  margin-left: -120px;
}
.filter div {
  margin-left: 30px;
}
